*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}
#root{
    display: grid;
    grid-template-rows: 1.5fr 8.5fr;
    height: 100%;
    background-color: #03f8bb;
    justify-items: center;
    padding: 1%;
}
#quizTitle{
    color: #ffffff;
    text-shadow: 2px 2px #0c0c0c;
    font-size: 10vh;
    margin: 2vh auto auto auto;
}
#quizQuest{
    margin: auto;
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border: 3px solid #0c0c0c;
    border-radius: 15vh;
    text-align: center;
    padding: 1.5%;
}
#quizContent{
    height: 100%;
}
#homeContent{
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 1.5fr 1.5fr 1.5fr 1.5fr 3fr;
    align-items: center;
}
#homeTitle{
    font-size: 5vh;
}
#quizQuest li{
    font-size: 4.3vh;
}
#playButton{
    background-color: #03f8bb;
    border-radius: 15vh;
    border: 2px solid #0c0c0c;
    color: #ffffff;
    margin: auto;
    padding: 1.7%;
    font-size: 5vh;
    font-weight: bolder;
    cursor: pointer;
}
#playButton:hover{
    transform: scale(1.2);
}
#questPage{
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1.5fr 1.5fr 2fr;
}
#questHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#questHeader h2{
    font-size: 6vh;
}
#points{
    font-size: 2.5vh;
    position: absolute;
    left: 0;
    margin-left: 5vw;
    border: 2px solid #03f8bb;
    padding: 1.5%;
    border-radius: 10vh;
}
#questTimer{
    font-size: 3vh;
    color: #0c0c0c;
    border: 2px solid #03f8bb;
    padding: 1.5%;
    border-radius: 100%;
    position: absolute;
    right: 0;
    margin-right: 5.5vw;
}
#mathQuest{
    margin: auto;
    font-size: 4vh;
    border-bottom: 5px solid #03f8bb;
    padding: 1.5%;
    justify-self: center;
}
#userInput{
    font-size: 4.5vh;
    text-align: center;
    border: 2px solid #03f8bb;
    border-radius: 10vh;
    margin: auto;
    padding: 1.5%;
    outline: none;
}
#confirmButton{
    background-color: #03f8bb;
    border-radius: 15vh;
    border: 2px solid #0c0c0c;
    color: #ffffff;
    margin: auto;
    padding: 2%;
    font-size: 5vh;
    cursor: pointer;
}
#confirmButton:hover,#confirmButton:focus{
    transform: scale(1.2);
}
