*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}
#root{
    display: grid;
    grid-template-rows: 1.5fr 8.5fr;
    height: 100%;
    background-color: #03f8bb;
    justify-items: center;
    padding: 1%;
}
#quizTitle{
    color: #ffffff;
    text-shadow: 2px 2px #0c0c0c;
    font-size: 10vh;
    margin: 2vh auto auto auto;
}
#quizQuest{
    display: grid;
    grid-template-rows: 8fr 4fr;
    margin: auto;
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border: 3px solid #0c0c0c;
    border-radius: 15vh;
    text-align: center;
    padding: 1.5%;
}
#playButton{
    background-color: #03f8bb;
    border-radius: 15vh;
    border: 2px solid #0c0c0c;
    color: #ffffff;
    margin: auto;
    padding: 1.7%;
    font-size: 6vh;
    font-weight: bolder;
}
#playButton:hover{
    transform: scale(1.2);
}
#homeTitle{
    font-size: 7vh;
    margin-bottom: 8vh;   
}
#quizQuest li{
    font-size: 5vh;
}